In [1]:
#import libraries needed for classification model
import pandas
import numpy
import seaborn
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from math import sqrt
from sklearn import datasets,linear_model
from sklearn.datasets import load_boston

In [2]:
#to avoid warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
boston_data  =  load_boston()

In [4]:
boston_data.DESCR

".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n"

In [5]:
#retriveing the data
boston_data

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'C:\\Users\\POOJITHA\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [6]:
boston_data.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [7]:
boston_df=pandas.DataFrame(boston_data.data,columns=boston_data.feature_names)

In [8]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
#adding the column price
boston_df['price'] = boston_data.target

In [10]:
#retriving the data
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
boston_df_X = boston_df[['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']]
boston_df_Y = boston_df[['price']]

In [12]:
#take dependent and independent variables separately
X_train,X_test,Y_train,Y_test=train_test_split(boston_df_X,boston_df_Y,test_size=0.20)

In [13]:
#retriveing the data in X_train
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
12,0.09378,12.5,7.87,0.0,0.524,5.889,39.0,5.4509,5.0,311.0,15.2,390.50,15.71
138,0.24980,0.0,21.89,0.0,0.624,5.857,98.2,1.6686,4.0,437.0,21.2,392.04,21.32
137,0.35233,0.0,21.89,0.0,0.624,6.454,98.4,1.8498,4.0,437.0,21.2,394.08,14.59
456,4.66883,0.0,18.10,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01
52,0.05360,21.0,5.64,0.0,0.439,6.511,21.1,6.8147,4.0,243.0,16.8,396.90,5.28

In [14]:
#retiveing the data in X_test
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
333,0.05083,0.0,5.19,0.0,0.515,6.316,38.1,6.4584,5.0,224.0,20.2,389.71,5.68
182,0.09103,0.0,2.46,0.0,0.488,7.155,92.2,2.7006,3.0,193.0,17.8,394.12,4.82
401,14.23620,0.0,18.10,0.0,0.693,6.343,100.0,1.5741,24.0,666.0,20.2,396.90,20.32
175,0.06664,0.0,4.05,0.0,0.510,6.546,33.1,3.1323,5.0,296.0,16.6,390.96,5.33
405,67.92080,0.0,18.10,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98

In [15]:
#using z-score  minimizing the high range values of crim
crim_scaler = StandardScaler()
crim_scaler.fit(pandas.DataFrame(X_train['CRIM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
#transforming Z_score of crim
X_train[['CRIM']]=crim_scaler.transform(X_train[['CRIM']])

In [17]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
12,-0.407161,12.5,7.87,0.0,0.524,5.889,39.0,5.4509,5.0,311.0,15.2,390.50,15.71
138,-0.389083,0.0,21.89,0.0,0.624,5.857,98.2,1.6686,4.0,437.0,21.2,392.04,21.32
137,-0.377202,0.0,21.89,0.0,0.624,6.454,98.4,1.8498,4.0,437.0,21.2,394.08,14.59
456,0.122969,0.0,18.10,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01
52,-0.411817,21.0,5.64,0.0,0.439,6.511,21.1,6.8147,4.0,243.0,16.8,396.90,5.28

In [18]:
#using z-score  minimizing the high range values of zn
zn_scaler = StandardScaler()
zn_scaler.fit(pandas.DataFrame(X_train['ZN']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [19]:
#transforming Z_score of zn
X_train[['ZN']]=zn_scaler.transform(X_train[['ZN']])

In [21]:
#using z-score  minimizing the high range values of indus
indus_scaler = StandardScaler()
indus_scaler.fit(pandas.DataFrame(X_train['INDUS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [22]:
#transforming Z_score of indus
X_train[['INDUS']]=indus_scaler.transform(X_train[['INDUS']])

In [23]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
12,-0.407161,0.021329,-0.460450,0.0,0.524,5.889,39.0,5.4509,5.0,311.0,15.2,390.50,15.71
138,-0.389083,-0.501540,1.612884,0.0,0.624,5.857,98.2,1.6686,4.0,437.0,21.2,392.04,21.32
137,-0.377202,-0.501540,1.612884,0.0,0.624,6.454,98.4,1.8498,4.0,437.0,21.2,394.08,14.59
456,0.122969,-0.501540,1.052404,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01
52,-0.411817,0.376880,-0.790232,0.0,0.439,6.511,21.1,6.8147,4.0,243.0,16.8,396.90,5.28

In [24]:
#using z-score  minimizing the high range values 
nox_scaler = StandardScaler()
nox_scaler.fit(pandas.DataFrame(X_train['NOX']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [25]:
#transforming function for Z_score 
X_train[['NOX']]=nox_scaler.transform(X_train[['NOX']])

In [27]:
#using z-score  minimizing the high range values 
rm_scaler = StandardScaler()
rm_scaler.fit(pandas.DataFrame(X_train['RM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [28]:
#transforming function for Z_score
X_train[['RM']]=rm_scaler.transform(X_train[['RM']])

In [30]:
#using z-score  minimizing the high range values 
age_scaler = StandardScaler()
age_scaler.fit(pandas.DataFrame(X_train['AGE']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [31]:
#transforming function for Z_score
X_train[['AGE']]=age_scaler.transform(X_train[['AGE']])

In [32]:
#using z-score  minimizing the high range values 
dis_scaler = StandardScaler()
dis_scaler.fit(pandas.DataFrame(X_train['DIS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [33]:
#transforming function for Z_score
X_train[['DIS']]=dis_scaler.transform(X_train[['DIS']])

In [34]:
#using z-score  minimizing the high range values 
rad_scaler = StandardScaler()
rad_scaler.fit(pandas.DataFrame(X_train['RAD']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [35]:
#transforming function for Z_score
X_train[['RAD']]=rad_scaler.transform(X_train[['RAD']])

In [36]:
#using z-score  minimizing the high range values
tax_scaler = StandardScaler()
tax_scaler.fit(pandas.DataFrame(X_train['TAX']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [37]:
#transforming function for Z_score
X_train[['TAX']]=tax_scaler.transform(X_train[['TAX']])

In [38]:
#using z-score  minimizing the high range values
ptratio_scaler = StandardScaler()
ptratio_scaler.fit(pandas.DataFrame(X_train['PTRATIO']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [39]:
#transforming function for Z_score
X_train[['PTRATIO']]=ptratio_scaler.transform(X_train[['PTRATIO']])

In [40]:
#using z-score  minimizing the high range values
b_scaler = StandardScaler()
b_scaler.fit(pandas.DataFrame(X_train['B']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [41]:
#transforming function for Z_score
X_train[['B']]=b_scaler.transform(X_train[['B']])

In [42]:
#using z-score  minimizing the high range values
lstat_scaler = StandardScaler()
lstat_scaler.fit(pandas.DataFrame(X_train['LSTAT']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [43]:
#transforming function for Z_score
X_train[['LSTAT']]=lstat_scaler.transform(X_train[['LSTAT']])

In [44]:
#by performing statictics the values are minimized
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
12,-0.407161,0.021329,-0.460450,0.0,-0.244897,-0.509107,-1.003697,0.727597,-0.517343,-0.576865,-1.526205,0.385433,0.415874
138,-0.389083,-0.501540,1.612884,0.0,0.593585,-0.553547,1.062282,-1.020067,-0.633264,0.182561,1.299367,0.401838,1.192008
137,-0.377202,-0.501540,1.612884,0.0,0.593585,0.275531,1.069261,-0.936341,-0.633264,0.182561,1.299367,0.423569,0.260924
456,0.122969,-0.501540,1.052404,0.0,1.339833,-0.388287,0.702829,-0.598665,1.685166,1.562789,0.828438,-3.662716,0.872424
52,-0.411817,0.376880,-0.790232,0.0,-0.957606,0.354689,-1.628377,1.357760,-0.633264,-0.986714,-0.772719,0.453609,-1.027100

In [45]:
#using z-score  minimizing the high range values
lstat_scaler = StandardScaler()
lstat_scaler.fit(pandas.DataFrame(X_test['LSTAT']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [46]:
#transforming function for Z_score
X_test[['LSTAT']]=lstat_scaler.transform(X_test[['LSTAT']])

In [48]:
#using z-score  minimizing the high range values
b_scaler = StandardScaler()
b_scaler.fit(pandas.DataFrame(X_test['B']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [49]:
#transforming function for Z_score
X_test[['B']]=b_scaler.transform(X_test[['B']])

In [50]:
#using z-score  minimizing the high range values
ptratio_scaler = StandardScaler()
ptratio_scaler.fit(pandas.DataFrame(X_test['PTRATIO']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [51]:
#transforming function for Z_score
X_test[['PTRATIO']]=ptratio_scaler.transform(X_test[['PTRATIO']])

In [52]:
#using z-score  minimizing the high range values
tax_scaler = StandardScaler()
tax_scaler.fit(pandas.DataFrame(X_test['TAX']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [53]:
#transforming function for Z_score
X_test[['TAX']]=tax_scaler.transform(X_test[['TAX']])

In [54]:
#using z-score  minimizing the high range values
rad_scaler = StandardScaler()
rad_scaler.fit(pandas.DataFrame(X_test['RAD']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [55]:
#transforming function for Z_score
X_test[['RAD']]=rad_scaler.transform(X_test[['RAD']])

In [56]:
#using z-score  minimizing the high range values
dis_scaler = StandardScaler()
dis_scaler.fit(pandas.DataFrame(X_test['DIS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [57]:

X_test[['DIS']]=dis_scaler.transform(X_test[['DIS']])

In [59]:
#using z-score  minimizing the high range values
crim_scaler = StandardScaler()
crim_scaler.fit(pandas.DataFrame(X_test['CRIM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [60]:
X_test[['CRIM']]=crim_scaler.transform(X_test[['CRIM']])

In [61]:
zn_scaler = StandardScaler()
zn_scaler.fit(pandas.DataFrame(X_test['ZN']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [62]:
X_test[['ZN']]=zn_scaler.transform(X_test[['ZN']])

In [63]:
indus_scaler = StandardScaler()
indus_scaler.fit(pandas.DataFrame(X_test['INDUS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [64]:
X_test[['INDUS']]=indus_scaler.transform(X_test[['INDUS']])

In [65]:
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
333,-0.424656,-0.432577,-0.913694,0.0,0.515,6.316,38.1,1.650221,-0.545364,-1.071206,0.729628,0.299773,-1.003967
182,-0.419896,-0.432577,-1.294311,0.0,0.488,7.155,92.2,-0.427282,-0.768319,-1.245720,-0.308819,0.355548,-1.131478
401,1.255109,-0.432577,0.886220,0.0,0.693,6.343,100.0,-1.050068,1.572704,1.417034,0.729628,0.390708,1.166684
175,-0.422784,-0.432577,-1.072633,0.0,0.510,6.546,33.1,-0.188616,-0.545364,-0.665882,-0.828043,0.315582,-1.055861
405,7.612190,-0.432577,0.886220,0.0,0.693,5.683,100.0,-1.132277,1.572704,1.417034,0.729628,0.239824,1.561078

In [66]:
rm_scaler = StandardScaler()
rm_scaler.fit(pandas.DataFrame(X_test['RM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [67]:
X_test[['RM']]=rm_scaler.transform(X_test[['RM']])

In [68]:
age_scaler = StandardScaler()
age_scaler.fit(pandas.DataFrame(X_test['AGE']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [69]:
X_test[['AGE']]=age_scaler.transform(X_test[['AGE']])

In [70]:
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
333,-0.424656,-0.432577,-0.913694,0.0,0.515,-0.136801,-1.314006,1.650221,-0.545364,-1.071206,0.729628,0.299773,-1.003967
182,-0.419896,-0.432577,-1.294311,0.0,0.488,1.235344,0.795422,-0.427282,-0.768319,-1.245720,-0.308819,0.355548,-1.131478
401,1.255109,-0.432577,0.886220,0.0,0.693,-0.092644,1.099554,-1.050068,1.572704,1.417034,0.729628,0.390708,1.166684
175,-0.422784,-0.432577,-1.072633,0.0,0.510,0.239353,-1.508962,-0.188616,-0.545364,-0.665882,-0.828043,0.315582,-1.055861
405,7.612190,-0.432577,0.886220,0.0,0.693,-1.172042,1.099554,-1.132277,1.572704,1.417034,0.729628,0.239824,1.561078

In [71]:
simple_linear_regression = LinearRegression()

In [72]:
simple_linear_regression.fit(pandas.DataFrame(X_train),pandas.DataFrame(Y_train))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [73]:
Y_pred=simple_linear_regression.predict(pandas.DataFrame(X_test))

In [74]:
Y_pred

array([[18.70073023],
       [31.1329247 ],
       [18.38759387],
       [27.81943643],
       [ 9.08863148],
       [18.64378759],
       [ 8.20844468],
       [21.14536779],
       [35.9921433 ],
       [11.76211959],
       [16.73972455],
       [39.23541858],
       [37.64594203],
       [20.36926601],
       [14.51126497],
       [19.32147424],
       [20.09780201],
       [34.08755604],
       [12.21914324],
       [20.95564487],
       [32.86245573],
       [22.22027835],
       [18.86008316],
       [33.68330914],
       [21.40654992],
       [14.33894104],
       [32.60302471],
       [18.56803136],
       [23.96222254],
       [17.65411198],
       [20.92684161],
       [43.26122503],
       [36.49332191],
       [23.74165122],
       [21.47621613],
       [13.42721327],
       [26.91956996],
       [19.300744  ],
       [11.88049173],
       [18.76912771],
       [15.34130195],
       [22.67239528],
       [24.24986797],
       [10.18330921],
       [21.41224926],
       [20.88805747],
       [30.2197821 ],
       [20.81375505],
       [23.44446339],
       [10.28611333],
       [20.27380397],
       [17.95774739],
       [18.42852746],
       [24.70284282],
       [31.24599204],
       [28.46984047],
       [21.20518553],
       [ 8.36258685],
       [19.36238696],
       [12.12090715],
       [13.31759196],
       [14.08535848],
       [20.78517577],
       [20.55380357],
       [19.2311445 ],
       [29.65016744],
       [20.52789016],
       [29.4633309 ],
       [35.94654742],
       [20.14780746],
       [17.42975308],
       [ 0.94253355],
       [ 4.63487833],
       [ 6.37263951],
       [16.49162975],
       [21.10102058],
       [18.74628972],
       [17.58440362],
       [13.48557491],
       [14.96388484],
       [27.9908776 ],
       [18.63097335],
       [20.63009339],
       [26.1406509 ],
       [21.71271503],
       [19.29753252],
       [15.75436117],
       [20.73484975],
       [28.94492433],
       [16.21760798],
       [21.43739716],
       [17.90019615],
       [24.51936015],
       [20.94076392],
       [23.28843197],
       [24.80527717],
       [24.65163274],
       [25.07676423],
       [25.01647253],
       [32.55580575],
       [24.74787238],
       [24.53829731]])

In [75]:
print("Mean squared error: %.1f" % mean_squared_error(Y_test,Y_pred))

Mean squared error: 24.9

In [76]:
print("Mean absolute error: %.1f" % mean_absolute_error(Y_test,Y_pred))

Mean absolute error: 3.8

In [77]:
print('R2 Score:%.2f' % r2_score(Y_test,Y_pred))

R2 Score:0.71